.logo {
    text-shadow: #cce4f4 0 0 10px, #cce4f4 0 0 60px;
    color: #002858;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:40px;
}

.second-word {
    text-shadow: #02273f 0 0 10px;
    color:#cce4f4;
    font-family: inherit;
    font-weight: normal;
    font-size: 50px;
}