body {
    position: relative;
    overflow-x: hidden;
}
body, html { height: 100%; }
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 80px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 180px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 180px;
    width: 80px;
    height: 100%;
    margin-left: -180px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 180px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -180px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li a {
    display: block;
    color: #bbb;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav > li.sidebar-link > a.active {
    color: #008fe0;
}

.sidebar-nav > li.sidebar-link > a:hover,
.sidebar-nav > li.sidebar-link > a:active,
.sidebar-nav > li.sidebar-link > a:focus,
.sidebar-nav > li.sidebar-link > .open a:hover,
.sidebar-nav > li.sidebar-link > .open a:active,
.sidebar-nav > li.sidebar-link > .open a:focus{
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav li.sidebar-link a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 3px;
}

.sidebar-nav > li.sidebar-link:hover a:before {
    background-color: #bbb;
}

.sidebar-nav > li.sidebar-link > a.active:before {
    background-color: #008fe0;
}

.sidebar-nav li.sidebar-brand a {
    color: #fff;
    background-color: #1a1a1a !important;
    outline: 0;
}

.sidebar-nav > .sidebar-brand {
    height: 40px;
    font-size: 20px;
    line-height: 44px;
    outline: 0;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.sidebar-brand > .logo-container {
    height: 40px;
    text-align: center;
    padding: 7px 0;
}

.logo-container > .logo-img {
    display: inline-block;
    width: 80px;
    text-align: center;
}

.logo-container > .logo-img > img {
    vertical-align: top;
}

.logo-container > .logo-text {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.logo-container > .logo-text > h1 {
    display: inline-block;
    margin: 0;
    font-size: 24px;
    vertical-align: top;
}

.sidebar-nav > li.sidebar-link {
    height: 50px;
}

.sidebar-nav > li.sidebar-link a {
    padding: 0;
    color: #666;
}

.sidebar-nav > li.sidebar-link .link-img {
    float: left;
    width: 80px;
    text-align: center;
    line-height: 14px;
    padding: 11px 0;
}

.sidebar-nav > li.sidebar-link .link-text {
    float: right;
    width: 100px;
    font-size: 16px;
    line-height: 50px;
}

.toggleButton {
    position: fixed;
    bottom: 0;
    left: 80px;
    display: block;
    height: 40px;
    padding: 0;
    width: 30px;
    border: none;
    background-color: transparent;
    color: #000;
    line-height: 35px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.toggleButton:hover {
    background-color: #fff;
    box-shadow: 4px 4px 6px 1px #ebeef1;
    -moz-box-shadow: 4px 4px 6px 1px #ebeef1;
    -webkit-box-shadow: 4px 4px 6px 1px #ebeef1;
}

.toggleButton:focus {
    outline: 0;
}

.toggleButton span {
    vertical-align: middle;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.toggleButton.toggled {
    left: 180px;
}
.toggleButton.toggled span {
    transform: rotate(-180deg);
}